<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="@domcorleone" />
    <meta
      name="keywords"
      content="html, css, javascript, node.js, express.js, axios, API, RESTFUL API,postgressql..."
    />
    <meta
      name="desciption"
      content="This website is intended to be used as book reviewer adding notes in all registered books 
        to keep prevent forgetting the salient parts of a book we've already read in past."
    />
    <title>📚 Welcome to Book Review </title>
    <link rel="stylesheet" href="../style/style.css" />    
  </head>
  <body>